aioredis==1.3.1
appdirs==1.4.4
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.4
beautifulsoup4==4.9.0
certifi==2020.4.5.1
cffi==1.14.3
channels==2.4.0
channels-redis==3.1.0
chardet==3.0.4
cls==2019.4.13
constantly==15.1.0
cryptography==3.1
daphne==2.5.0
distlib==0.3.1
Django==3.1.1
django-crispy-forms==1.9.1
django-filter==2.3.0
django-summernote==0.8.11.6
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
docx2pdf==0.1.7
filelock==3.0.12
gunicorn==20.0.4
hiredis==1.1.0
html5lib==1.0.1
hyperlink==20.0.1
idna==2.9
incremental==17.5.0
msgpack==1.0.0
numpy==1.18.2
pandas==1.0.3
pdfkit==0.6.1
pep8==1.7.1
Pillow==7.1.1
pipenv==2020.6.2
psycopg2==2.8.5
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyHamcrest==2.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
pywin32==227
reportlab==3.5.42
requests==2.23.0
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0
sqlparse==0.3.1
toml==0.10.1
tqdm==4.49.0
Twisted @ file:///C:/Users/Prashant%20Karn/Downloads/Twisted-20.3.0-cp38-cp38-win32.whl
txaio==20.4.1
urllib3==1.25.9
virtualenv==20.0.28
virtualenv-clone==0.5.4
webencodings==0.5.1
whitenoise==5.0.1
xhtml2pdf==0.2.4
zope.interface==5.1.0
